*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Source Sans Pro', sans-serif;
}
a,a:hover{
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
}

/****************************
** Global css code for title
****************************/
.title{
	width: 100%;

}
.title h6 {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 28px;
    color: #008ed6;
}

.title h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 44px;
    margin: 20px 0;
}


.header-section{
	width: 100%;
	background: url("../images/banner.png") center top no-repeat;
	background-size: cover;
}
/*menu section start*/
.main-menu{
	width: 100%;
}
.main-menu .bg-light{
	background: transparent !important ;
}
.main-menu .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
    color: #fff;
    background: url("../images/hr.png") center bottom no-repeat;
    background-size: auto;
}
.main-menu .navbar-light .navbar-nav .nav-link {
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
    color: #fff;
    margin: 0 10px;
    color: #fff;
}

.main-menu .navbar-light .navbar-nav .nav-link:hover, .main-menu .navbar-light .navbar-nav .nav-link:focus{
	background: url("../images/hr.png") center bottom no-repeat;
    background-size: auto;
}
/*menu section end*/

/*banner section start*/
.banner{
	width: 100%;
	padding: 150px 0;
}
.inner-banner{
	width: 100%;
}
.inner-banner h6 {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 28px;
    color: #008ed6;
}

.inner-banner h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 44px;
    color: #fff;
    margin: 20px 0;
}
.inner-banner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #797a7b;
}
.inner-btn{
	width: 100%;
	margin: 50px 0 0;
}
.inner-btn .btn-primary{
	padding: 15px 25px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	background: #008ed6;
	border: 1px solid #008ed6;
	color: #fff;
	border-radius: 2px;
	margin-right: 20px;
	transition: 1s;
}

.inner-btn .btn-primary:hover, .inner-btn .btn-primary:focus{
	background: transparent;
	border: 1px solid #008ed6;
	color: #008ed6;
}
.inner-btn .btn-light{
	padding: 15px 25px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	background: transparent;
	border: 1px solid #797a7b;
	color: #fff;
	border-radius: 2px;
	transition: 1s;
}

.inner-btn .btn-light:hover, .inner-btn .btn-light:focus{
	background: #008ed6;
	border: 1px solid #008ed6;
	color: #fff;
}
/*banner section end*/

/*feature section start*/
.feature{
	width: 100%;
	padding: 80px 0;
}
.feature .title{
	text-align: center;
}
.inner-feature{
	width: 100%;
	padding: 40px 20px 0;
	text-align: center;
}
.icons-inner{
	width: 85px;
	height: 85px;
	line-height: 85px;
	margin: 0 auto;
	border: 2px solid #eee;
	border-radius: 100%;
}
.inner-feature h4{
	font-size: 22px;
	margin: 20px 0;
	font-weight: 600;
	color: #000;
}
.inner-feature p{
	font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #999999;
}
/*feature section end*/

/*about long start*/
.about-long{
	width: 100%;
	padding: 80px 0;
	border-top: 1px solid #eee;
}
.about-long .title{
	margin-bottom: 20px;
}
.inner-about-long{
	width: 100%;
	margin-top: 40px; 
}
.inner-about-long p{
	font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #999999;
}
.inner-about-long .list-ablong{
	font-size: 18px;
	font-weight: 700;
	line-height: 38px;
	color: #000;
	margin-top: 30px;
}
.inner-about-long .list-ablong img{
	margin-right: 15px;
	width: 11px;
}